.item{
    font-size: 17px;
    font-weight: bold;
    color: rgb(34, 34, 34);

}
.cls{

    color: white;
    padding: 5px;
    background-color: rgb(211, 2, 2);

}
.cls:hover{
    text-decoration: none;
    color: white;
}