.jumcontent{

    height: 400px;
    background-color: rgb(226, 0, 0);
    padding: 50px;
    border-radius: 20px;
    margin-top: 30px;
}
.jumtitle{
    color: white;
    font-family: arial;
    font-style: italic;
}
.prom{
    color: white;
    font-size: 18px;
    text-transform: uppercase;
    font-weight: 600;
}
.spn{
    color: white;
    
}
.imgs{
    width: 380px;
    border: 5px solid white;
    border-radius: 10px;
    margin-left: 30px;
}

@media only screen and (max-width: 600px) {
    .jumcontent{
        padding: 20px;
        height: 350px;
    }

    .jumtitle{
        font-size: 20px;
        color: white;
        font-family: arial;
        font-style: italic;
        font-weight: bold;
    }

    
    .prom{
        color: white;
        font-size: 10px;
        text-transform: uppercase;
        font-weight: 600;
    }
    .spn{
        color: white;
     
    }
    .imgs{
        width: 180px;
        border: 8px solid white;
        border-radius: 10px;
        margin: 5px auto 5px auto;
    }
}