.load{
    background-color: rgb(228, 1, 1);
    width: 100%;
    padding: 4px;
    height: 30px;
    
}
.load p{
    color: white;
    text-align: center;
}
.iconload{
    animation: loading infinite 1s ease;
}
.dt{
    color:white;
    background-color: rgb(0, 158, 0);
    text-decoration: none;
    font-size: 12px;
    padding: 5px 30px 5px 30px;
    border-radius: 3px;
    
}
.dt:hover{
    text-decoration: none;
    color: white;
    background-color: rgb(2, 95, 2);
}
.crd{
    width: 18rem;
    margin-bottom: 10px;
    padding: 10px;
}
@keyframes loading{
    0%{
        transform: rotate(-90deg);
    }
    100%{
        transform: rotate(90deg);
    }
     }


     @media only screen and (max-width: 600px) {

        .cardcol{
            width: 40rem;
        }
        .cardcol img{

            height: 100%;
            width: 100%;
        }

        .titl{
            font-size: 10px;
          }
          .price{
              font-size: 10px;
          }
          .crd{
              width: 100%;
          }
          .dt{
            padding: 5px 10px 5px 10px;
          }
     }