flx{
    display: flex;
}
.login{
    padding: 3px 8px 3px 8px;
    background-color: rgb(255, 255, 255);
    color: rgb(219, 0, 0);
    border: 1px solid rgb(219, 0, 0);
    border-radius: 3px;
    margin-right: 10px;
    text-decoration: none;
}
.reg{
    padding: 3px 8px 3px 8px;
    background-color: rgb(219, 0, 0);
    color: rgb(255, 255, 255);
    border: 1px solid rgb(219, 0, 0);
    border-radius: 3px;
    text-decoration: none;
}
.nv{
    display: flex;
}