.cart{

   margin-right: 5px;
    color: red;
    height: 30px;
    margin-top: 5px;
}
.profil{
    border: 1px solid red;
    border-radius: 50%;
}
.drop{
    color: red!important;
    background-color: red;
}

.qty{
    font-size: 10px;
    background-color: red;
    padding: 5px;
    color: white;
    border-radius: 35%;
}
.log{
    border: none;

    color: rgb(49, 49, 49);
    font-size: 17px;

}
.prof{
    color: rgb(61, 61, 61);
    font-size: 17px;
    
}
.prof:hover{
    color: rgb(54, 54, 54);
    text-decoration: none;
}
.imgs{
    border-radius: 50%;
    border: 2px solid rgb(226, 16, 16);
    height: 35px;   
    width: 35px;

}

.lg{
    color: white;
    background-color: rgb(236, 22, 22);
    font-size: 10px;
    padding: 4px 6px 4px 6px;
    border-radius: 25px;
    margin-left: -16px;
}

.user{
    border: none;
    background-color: rgb(255, 255, 255);
 
   }
.user:hover{
    background-color: white;
}
.dropdown{
    background-color: white;
    border: none;
}
.dropdown:hover{
    background-color: white!important;
}
/* .user:active{
    background-color: white !important;
    opacity: 0;
} */
.dropdown:active{
    background-color: white;
    opacity: 0;
}
.user:focus{
    background-color: white!important;
}
.dv{
    display: flex;
   
padding: 5px;
}

.icons{
    color: rgb(255, 2, 2);
    font-size: 25px;
}

.tog{
    font-size: 30px;
    color: red;
}