.carddet{
    width: 60rem;
    padding: 30px;
}
.add{
    width: 100%;
    background-color: red;
    border: none;
}
.add:hover{
    background-color: rgb(189, 0, 0);
}
.name{
    font-size: 12px;
}
.tp{
    color: red;
}
.icn{
    margin-left: 20%;
    width: 50%;
}
.tot{
    color: rgb(241, 47, 47);
}
.tpi{
    width: 10px;
}
@media only screen and (max-width: 600px){

    .coltop{
        margin-right: 90px;
    }

}