.topname{
    font-size: 12px;
}

.card{
    padding: 20px;
}

.btncart{
    width: 100%;
    color: white;
    background-color: red;
    border: 1px solid red;
}
.cartcontainer{
    margin-top: 30px;
    padding: 20px;
}
.cartimg{
    border: 1px solid rgb(214, 214, 214);
    box-shadow: 2px 2px 2px 2px rgb(214, 214, 214);
    height: 420px;
}
.cektop{
    color: green;
    border: 2px solid green;
    background-color: green;
}